<div class="tasks-wrapper">
    
    <div class="container">
        <div class="task-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="task-text">sample task</p>
        </div>

        <div class="task-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="task-text">Second sample task</p>
        </div>
    </div>

</div>

