<div class="tabs">
    <a routerLink="bookmarks" routerLinkActive="selected" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>
    <a routerLink="kanban" routerLinkActive="selected" class="tab kanban-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">view_kanban</i>
        </div>
    </a>
    <a routerLink="soundscape" routerLinkActive="selected" class="tab soundscape-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">music_note</i>
        </div>
    </a>
    <a routerLink="notes" routerLinkActive="selected" class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">notes</i>
        </div>
    </a>

    <a routerLink="sabbath-school" routerLinkActive="selected" class="tab sabbath-school-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">auto_stories</i>
        </div>
    </a>

    <a routerLink="tasks" routerLinkActive="selected" class="tab tasks-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">task_alt</i>
        </div>
    </a>

    
</div>
