<div class="tabs">
    <div class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
    </div>
    <div class="tab view_kanban-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">view_kanban</i>
        </div>
    </div>
    <div class="tab music_note-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">music_note</i>
        </div>
    </div>
    <div class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">notes</i>
        </div>
    </div>

    
</div>
