<div class="tabs">
    <a routerLink="bookmarks" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">bookmarks</i>
        </div>
    </a>
    <a class="tab view_kanban-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">view_kanban</i>
        </div>
    </a>
    <a class="tab music_note-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">music_note</i>
        </div>
    </a>
    <a class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">notes</i>
        </div>
    </a>

    <a class="tab sabbath-school-tab">
        <div class="tab-tile">
            <i class="material-icons-outlined">auto_stories</i>
        </div>
    </a>

    
</div>
